//====================================================================================================
.page {

	&__promo {
		padding: toRem(60) toRem(0) toRem(0) toRem(20);
		@extend %videoBackground;
	}
}
.promo {
	min-height: 100dvh;


	&__container {
		display: grid;
		row-gap: 40px;
		justify-items: center;
	}

	&__title {
		color: white;
		font-size: 60px;
		font-weight: 600;
	}

	&__img {
	}

	&__advantages {
	}

	&__button {
		margin:auto;
		color: white;
		font-size: 20px;
		font-weight: 600;
		text-transform: uppercase;
		padding: 20px toRem(80);
		background-color: rgb(79, 117, 21);
		border-radius: 16px;
		transition: background-color 0.3s;
		margin-bottom: 30px;
		&:hover{
			background-color: rgb(150, 177, 75);
		}
		
	}
}
.advantages {

	&__title {
		font-size: 30px;
		color: white;
		margin-bottom: 20px;
	}

	&__list {
		display: grid;
		row-gap: 15px;
	}

	&__item {
		color: white;
		font-size: 20px;
	}
}

//=====INGREDIENTS===============================================================================================

.page {

	&__ingredients {
		padding-top: 40px;
		background: rgb(2,0,36);
		background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
		.promo__button {
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			margin-top: 30px;
		}
	}
}
.ingredients {

	&__container {
		position: relative;
		display: grid;
		grid-template-columns: 28% 1fr 28%;
	}


		&__line {
			position: absolute;
			width: 75px;
			height: 5px;
			background-color: white;
			&_decor01 {
				left: 32%;
				top: 27%;
				transform: rotate(22deg);
			}

			&_decor02 {
				right: 32%;
				top: 27%;
				transform: rotate(338deg);
			}

			&_decor03 {
				left: 32%;
				top: 50%;
			}

			&_decor04 {
				right: 32%;
				top: 50%;
			}

			&_decor05 {
				left: 32%;
				top: 75%;
				transform: rotate(338deg);
			}

			&_decor06 {
				right: 32%;
				top: 75%;
				transform: rotate(22deg);
			}
		}


	&__col {
		display: flex;
		flex-direction: column;
		row-gap: 30px;
		justify-content: space-between;
		&_one {
		}

		&_two {
			align-self: center;
			justify-self: center;
		}

		&_three {
		}
	}

	&__item {
		position: relative;
		outline: 1px solid red;
		display: grid;
		justify-items: center;
		text-align: center;
		// &:not(:last-child) {margin-bottom: toRem(30);}
	
	

		&_4 {
			&::after{
				bottom: 0;
				right: 100%;
				transform: rotate(338deg);
			}
		}

		&_5 {
		}

		&_6 {
			&::after{
				
			}
		}
	}

	&__text {
		font-size: 16px;
		color: white;
		line-height: 1.4;
	}

	&__img {
		margin-bottom: 10px;
		width: 100px;
		border-radius: 50%;
		overflow: hidden;
		img {
			width: 100%;
			height: auto;
		}
	}

	&__product {
		width: 200px;
		img {
			width: 100%;
			height: auto;
		}
	}
}


/*======reviews===========*/

.section {

	&__reviews {
		background: rgb(2,0,36);
		background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
		
		padding-block: 40px;
	}
}
.reviews {

	&__container {
		position: relative;
		button {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			@media (max-width:$mobile){
				 display: none; 
			}
		}
	}
}

.feedback {

	&__content {
		display: grid;
		row-gap: 30px;
		justify-items: center;
	}

	&__top {
	}

	&__name {
		&:not(:last-child) {margin-bottom: toRem(10);}
		color: white;
		font-size: 20px;
	}

	&__date {
		font-size: 16px;
		color: white;
	}

	&__star {
	}

	&__star-item {
	}

	&__text-wrapper {
	}

	&__text {
		color: white;
		line-height: 1.4;
		font-size: 16px;
	}



	&__photo-img {
		width: 250px;
		@media (max-width:$mobile){
			//  @include adaptiveValue("width", 500, 250,0,768,320); 
		}
		img {
			width: 100%;
			height: auto;
		}
	}

	&__question-block {
	}
}

.review-device-pagination {
	@media (min-width:$mobile){
		  
	}
}
.pagination {
	margin-top: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	.swiper-pagination-bullet {
		width: 10px;
		height: 10px;
		background-color: #797979;
		border-radius: 50%;
		transition: width 0.3s, height 0.3s;
	}
	.swiper-pagination-bullet-active {
		background-color: white;
		width: 12px;
		height: 12px;
	}
}

.swiper-next {
	svg {
		rotate: 180deg;
	}
	right: -2%;
}
.device-review-next {
}

.swiper-prev {
	left: -2%;
}

.device-review-prev {

}


/*========PROMO=========*/

.page {

	&__promo {
		background: rgb(2,0,36);
		background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
		
		padding-block: 40px;
	}
}
.promo {

	&__container {
	}

	&__img {
		width: 500px;
		img {
			width: 100%;
			height: auto;
		}
	}

	&__text {
		color: white;
		line-height: 1.4;
		font-size: 16px;
	}

	&__specifications {
		display: flex;
		gap: 40px;

	}

	&__button {
	}
}
.specifications {
	// width: 100%;
	animation: scroll 8s infinite linear;
	&__item {
		font-size: 24px;
		color: white;
	}
}

@keyframes scroll {
	0% {
		transform: translate3d(120%, 0, 0);
	}
	100% {
	  transform: translate3d(-120%, 0, 0);
	}
 }


 /*==========form==============*/

.page__form {
	background: rgb(2,0,36);
		background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
		
}
 .form {
	width: 50%;
	margin:auto;
	border: 3px solid rgb(192, 183, 183);
	border-radius: 16px;
	display: grid;
	row-gap: 15px;
	justify-items: center;
	padding: 20px 40px;
}

.form__title {
	font-size: 36px;
	font-weight: 600;
	color: white;
	margin-bottom: 15px;
}
.form__img {
	width: 150px;
}

.form__img img {
	width: 100%;
	height: auto;
}
.form__title {
	color: white;
}
.simple_timer {
	display: flex;
	align-items: center;
	column-gap: 10px;
	color: red;
}
.timer {
	font-size: 30px;
}
.timer__item {
	display: grid;
	gap: 8px;
	justify-items: center;
}

.timer__item .time {
	font-size: 30px;
}
.hours {

}
.timer__description {
	text-transform: uppercase;
	font-size: 14px;
}
.minutes {

}
.seconds {

}
.form__costs {

}

.form__text {
	color: white;
	font-size: 20px;
	
}
.costs {
	display: flex;
	// align-items: start;
	column-gap: 10px;
}
.costs__item {
	display: grid;
	justify-items: center;
	row-gap: 8px;
}
.cost-text {
	font-size: 30px;
	margin-top: 5px;
}
.costs__title {

}
.costs__old {
	color: #9E9E9E;
	text-decoration: line-through;
	&.cost-text {
		font-size: 18px;
	}
}
.costs__new {
	color: white;
	transition:  color;
	animation: 3s scale linear infinite;
}

@keyframes scale {
	0% {
		scale: 1;
	}
	50% {
		scale: 1.3;
	}
	100% {
	  scale: 1;
	}
 }
.form__inputs {

}
.inputs {
	width: 100%;
}
.inputs__item {
	display: grid;
	justify-items: center;
	gap: 2px;
	width: 100%;
	
}

.inputs__item input {
	background-color: #f1f1f1;
	border: 1px solid #C2C2C2;
	padding: 5px 10px;
	width: 60%;
}

.inputs__item:not(:last-child) {
	margin-bottom: 20px;
}
.inputs__title {

}
.form__submit {
	margin-top: 10px;
	background-color: red;
	color: white;
	font-weight: 600;
	font-size: 24px;
	border: 1px solid red;
	border-radius: 6px;
	width: 60%;
}

p.form__text {
	margin-bottom: 0;
}

.img-product {
	width: 100%;
	height: auto;
}